@media(min-width: 900px) {
    .card_produtos{
        display: inline-flex;
        margin: 50px;
    }
    .card_produtos :hover {
        transform: scale(1.05);
        transition: transform 400ms ease;
        transform: scaleY(1.10);
    }

    .card_categorias{
        display: inline-flex;
    }
}